<div class="col-md-12 table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Titel</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
               <td>1</td>
               <td>1</td>
               <td>1</td>
            </tr>
        </tbody>
    </table>
</div>